<form id='dash-form'>
  <header>
    <h1>Dashboard</h1>
    <div class='container'>
      <h2>Hello, {{user.username}}! Here are the latest events:</h2>
    </div>
  </header>
  {{#each events as |event|}}
    <article>
      <div class='card bg-dark'>
        <div class='card-header'>
          <h3>{{event.title}}</h3>
          <h5 class='card-title' align='right'>{{event.format_date}}
            {{event.format_time}}</h5>
        </div>
        <p class='card-text'>{{event.description}}</p>
      </div>
    </article>
  {{/each}}

</form>
